# Python cache files
__pycache__/
*.pyc

# Virtual environment
venv/

# Environment variables
.env

# Django migrations
*/migrations/

# SQLite database (optional)
db.sqlite3

# IDE / editor files (optional)
.vscode/
*.idea/
